body {
  padding-top: 50px;
  font-family: 'Oxygen', serif;

}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}



.container{
    /*background-color:#BF7B39;*/
    border-top-width:10px;
    border-bottom-width: 10px;
    border-color:#DF9F60;
    font-size: 30px;
    border-top-color:#733A02;
    /*color:#ffff00;*/
    color:#0044cc;
    background-color:#7DFF7F;
    /*background-image:url('http://www.hjs-consulting.com/s/cc_images/cache_11233183.jpg');*/
}

li.active a{
    background-color:#9D5C1C;
}

.collapse navbar-collapse{
    background-color:#ffff00;
}

