body {
  padding-top: 50px;
  font-family: 'Oxygen', serif;

}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.navbar{
    background-color:#BF7B39;
    border-top-width:10px;
    border-bottom-width: 10px;
    border-color:#DF9F60;
    font-size: 30px;
    background-image: url('http://payload290.cargocollective.com/1/12/411773/8115284/000022_905.jpg');
    border-top-color:#733A02;
    /*color:#ffff00;*/
}

.container{
    color:#0044cc;
}

li.active a{
    background-color:#9D5C1C;
}

.collapse navbar-collapse{
    background-color:#ffff00;
}

.navbar nav{
    background-color:gray;
}
