{% extends "base_template.html" %}
{% block content %}
{% load mptt_tags %}
<html>
{% load staticfiles %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/stories_style.css' %}">
    <link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="treeDiv">
        <div class="tree">
            <ul>
                {% recursetree nodes %}
                    <li>
                        <a href = "{% url "view_story_path" node.id %}">{{ node.title }}</a>
                        {% if not node.is_leaf_node %}
                            <ul class = "children">
                                {{ children }}
                            </ul>
                        {% endif %}
                    </li>
                {% endrecursetree %}

                <br>
                {% full_tree_for_model creation.Branch as branches %}
            </ul>
        </div>
    </div>
</body>
</html>
{% endblock %}
